<div data-role="page" style="background-image: url('/public/images/bodyBg.png');">
  <script type="text/javascript">
		
			var chart;
			$(document).ready(function() {
				chart = new Highcharts.Chart({
					chart: {
						renderTo: 'container',
						defaultSeriesType: 'bar'
					},
					title: {
						text: 'Stacked bar chart',
						margin: 15
					},
					xAxis: {
						categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
					},
					subtitle: {
						text: '<a href="http://www.spritle.com/"> HighCharts in Rhomobile - Demo 1 <br/> by Spritle Software </a>',
						style: {
							color: '#FF00FF',
							fontWeight: 'bold'
						}
					},
					yAxis: {
						min: 0,
						title: {
							text: 'Total fruit consumption'
						}
					},
					legend: {
						backgroundColor: '#FFFFFF',
						reversed: true
					},
					tooltip: {
						formatter: function() {
							return ''+
								 this.series.name +': '+ this.y +'';
						}
					},
					plotOptions: {
						series: {
							stacking: 'normal'
						}
					},
				        series: [{
						name: 'John',
						data: [3, 3, 2, 5, 2]
					}, {
						name: 'Jane',
						data: [2, 2, 3, 2, 1]
					}, {
						name: 'Joe',
						data: [3, 4, 4, 2, 5]
					}]
				});
				
				
			});
				
		</script>
  <div> 
  <h1 style="text-align:center">Stacked Bar Chart Demo</h1> 
 </div> 
 
  <div data-role="content" >
     <div id="container" style="width: 330px; height: 320px; margin: 0 auto"></div>
  </div>
</div>



